/* body.dark {
  background-color: #121212;
  color: #f0f0f0;
}

body.dark a {
  color: #90caf9;
}

body.dark .card,
body.dark .kpiCard {
  background-color: #1e1e1e !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1) !important;
}

body.dark .link:hover {
  color: #fbc02d;
} */
